<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" href="style.css" type="text/css">			
	<link rel="icon" type="image/png" href="favicon.ico"/>
	<style>
		html,body{
		    margin:0;
		    padding:0;
		    display:flex;
		    justify-content:center;
		    align-items:center;
		    //background-color:salmon;
		    font-family:"Quicksand", sans-serif;

		}	
		#txt{
		    position: absolute;
		    top: 45%;
		    left: 45%;
		    margin-top: -45px;
		    margin-left: -45px;
		    width: 100px;
		    height: 100px;
		    padding: 20px 20px;
		    font-size:120%;
		    font-weight:bolder;
		   /* border: 1px solid black;*/
		}​
					
	</style>	
	
	<title>{{ERROR}}</title>
	
</head>

<body>
	<div id="txt">{{ERROR}}</div>
	
</body>

</html>
