<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="Author" content="{{AUTHOR}}"/>
	<meta name="Keywords" content="{{KEYWORD}}"/>
	<meta name="Description" content="{{DESCRIPTION}}"/>
	
	<link rel="icon" type="image/png" href="favicon.ico"/>
	<link rel="stylesheet" href="style.css" type="text/css">
	
	<script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
	
	<script src="../js20/core/extend.js"></script>
	<script src="../js20/core/CommonHelper.js?{{VERSION}}"></script>
	<script src="../js20/core/EventHelper.js?{{VERSION}}"></script>
	<script src="../js20/core/AppSrv.js?{{VERSION}}"></script>
	<script src="../js20/custom_controls/TrackConstants.js?{{VERSION}}"></script>
	<script src="route.js?{{VERSION}}"></script>
	
	<title>{{TITLE}}</title>
	
</head>

<body>
	<div id="inf">
		<div class="inf">Автомобиль: {{vehiclePlate}}</div>
		<button id="showVehicle">Найти на карте</button>
		<br/>
		<div class="inf">До объекта: <span id="distanceToDest"/> </div>
	</div>	
	
	<div id="map" class="map"></div>
	
	<script>	
		window.onload = function() {
			Route.init({
				"id": {{ID}}
				,"token": "{{token}}"
				,"locationExists": {{locationExists}}
				,"destZone": "{{destZone}}"
				,"c": {{is_client}}
				,"lastPos": '{{lastPos}}'
				,"route": "{{routeRest}}"
				,"appName": "{{appName}}"
				,"appSrvHost": "{{appSrvHost}}"
				,"appSrvPort": "{{appSrvPort}}"
				,"routeRestLen": "{{routeRestLen}}"
			});
		}
	 </script>	
	
</body>

</html>
