#waiting{	
	position:fixed;
	top:40%;
	left:50%;
	margin:0 0 0 -100px;
	z-index:9999999;
}
span.grid-sort{
	margin-left:5px;
}

tr.for_select{
	cursor:pointer;
}
th.sortable{
	cursor:pointer;
}
th[disabled="disabled"]{
	cursor:not-allowed;
}
tfoot{
	font-weight:bolder;
	font-size:120%;
}

tr.grid_foot{
	font-size:bigger;
	font-weight:bolder;
}

.pagination-pages{
	margin-left:15px;;
}
.pagination-page{
	cursor:pointer;
	margin:5px 5px;
}

.pagination-page-cur{
	font-size:110%;
	cursor:default;
}

.flashit{
	-webkit-animation: flash linear 1s infinite;
	animation: flash linear 1s infinite;
}
@-webkit-keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
/* Pulse class and keyframe animation */
.pulseit{
	-webkit-animation: pulse linear .5s infinite;
	animation: pulse linear .5s infinite;
}
@-webkit-keyframes pulse {
	0% { width:200px; } 
	50% { width:240px; } 
	100% { width:200px; }
}
@keyframes pulse {
	0% { width:200px; } 
	50% { width:240px; } 
	100% { width:200px; }
}

.null-ref{
	color:red;
	font-weight:bolder;
}

.modal {
  text-align: center;
}
@media screen and (min-width: 768px) {
    .modal:before {
      display: inline-block;
      vertical-align: middle;
      content: " ";
      height: 100%;
    }
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.forSelect:hover{
	text-decoration:underline;
}

/* menu constructor */
.menuConstructor li {
	padding: 8px 8px;
	line-height: 1.2;
	cursor:grab;
	width:100%;
}
.menuConstructor li.active{
	background-color:#d9edf7;
	border:1px solid black;
}

.menuConstructor span[fieldid=viewDescr]{
	margin-left: 20px;
}

#MainMenuConstructor\:content\:edit-view{
	padding:10px 10px;
	font-size:120%;
	border:1px solid black;
}

.acCurrent{
	background:#E8F5E9;
}

/* view construct animation */
.viewFadeOnConstruct {
    -webkit-animation: fadeIn 500ms ease-in-out;
    animation: fadeIn 500ms ease-in-out;
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
}

/* Drag-n-Drop*/
.uponMe{
	border:1px solid black;
}

.dragging{
	border:1px solid black;
	cursor:grabbing;
}

.breadcrumb{
	font-size:150%;
}
.breadcrumb-item:hover{
	text-decoration:underline;
	cursor:pointer;
}

.btn-cmd{
	margin-right:3px;
}

.windowMessageOverlap{
	position:fixed;
	top:0px;
	left:80%;
	opacity:0.9;
	filter: alpha(opacity=90);
	z-index:9999999;
	width:20%;
	overflow-y: scroll;
	height:100%;
}

.windowMessageOverlap:hover{
	opacity:1;
	filter: alpha(opacity=100);
}

.windowMessageMobile{
	position:fixed;
	top:0px;
	left:0%;
	opacity:0.9;
	filter: alpha(opacity=90);
	z-index:9999999;
	width:100%;
	overflow-y: scroll;
	overflow-x: scroll;
	height:20%;
}

.windowMessageMobile:hover{
	opacity:1;
	filter: alpha(opacity=100);
}

/** CUSTOM */

.logotype{
	margin-top: 2px;
	height: 16px;
}

.dialogForm{
	min-height: 450px;
}

#upload-container{
	margin-bottom:20px;
}
.resumable-file-list{
	border:1px solid black;
	border-style: dotted;
}
.app-client-header{
	display: inline;
}

.fillClientData{
	margin-left:20px;
}

.service-type-out{	
	min-height: 220px;
}
.service-type{
	border:1px solid black;
	margin:6px 3px;
	min-height: 220px;
	font-size:70%;
}
.service-type-en{
}
.service-type-dis{
	color: transparent;
	text-shadow: 0 0 5px rgba(0,0,0,0.2);
	cursor:not-allowed;
	background-color:#ddd4d4;
}

.service-type-selected{
	border:2px solid black;
	font-size:120%;
}

.custom-edit-cont{
}
label.percentcalc:before {
	content: "*";
	/*font-weight:bolder;
	*/
	font-size:120%;
	color:red;
}
.demo-color:hover{
	cursor:pointer;
	border:2px solid black;
}
.task-short-descr{
	cursor:pointer;
}
.file-input {
   opacity: 0;
   position: absolute;
   z-index: -1;
}

h2 div.btn{
	height:40px;
}

.form-group-filter{
	margin-bottom:20px;
}

.sectionGrid{
	margin:15px,0px,15px,15px !important;
}

.workHoursEdit-daysoff{
	background:#ff5e33;
}
.workHoursEdit-day{
	width:100px;
}

.uploadedAfterPost{
	background:yellow;
}
.uploadedByThis{
	background:#8ff442;
}
.appFileDeleted{
	text-decoration: line-through;
}
li.appFileItem{
	list-style: none;	
}
#ShortMessage-form{
	max-height:500px;
	overflow-y: auto;
}
tr.recipientUnavail{
	color: transparent;
	text-shadow: 0 0 0px rgba(0,0,0,0.2);
	/*cursor:not-allowed;*/
}
tr.recipient{
	cursor:pointer;
}
table.noBorder{
	border-collapse: collapse;
}
table,tr,td.noBorder{
	border: none;
}
.mesRecipient{
	text-decoration:underline;
	text-weight:bolder;
	font-size:120%;
}
.panel-even{
	background-color:#f7f7f7;
}
.panel-odd{
	background-color:#f7e8e8;
}

.chainDocCurrent{
	background-color:yellow;
}
.chainDoc{
	max-width:120px;
}

.chatMessageList{
    max-height: 350px;
    overflow-y: auto;
    width:500px;
}	
.chatMessage{
	border:1px solid black;
	margin-bottom:20px;
	padding:20px 20px;
	border-radius: 25px;
}

.chatMessageFromMe{
	background-color:#42f4f4;
	width:380px;
	margin-left:100px;
}
.chatMessageToMe{
	background-color:#f4dc41;
	width:380px;
}
.messageNewDay{
	margin: 0 auto;
}
.detailToggle{
	cursor:pointer;
}
.periodLabel{
	cursor:pointer;
	font-size:120%;
	font-weight:bold;
}

.grid_details{
	position:relative;
	left:2%;
	width:98%  !important;
}

/*
.appDialog{
	padding-top:0px;
}
*/
.cadesCert{
	margin-top:15px;
	margin-bottom:0px;
}
.doNotCadesLoadPlugin{
	margin:5px 5px;
}

.icons-list a[data-action="move_down"]::after {

    content: '\e9d3';

}

.icons-list a[data-action="move_up"]::after {

    content: '\e9da';

}

.fieldContPanel{
	position:relative;
}
.fieldPanel{
	position:relative;
}
.collectionPanel{
	position:relative;
}
.documentFieldCont{
	margin:5px 5px;	
	background:#f4415e;
}
.testCont{
	margin:15px 15px;	
}
#totContainer{
	margin-bottom:7px;
	margin-top:7px;
}

#totContainer label{
	display:inline;
}
#totContainer span{
	margin-right:2px;
}
#totContainer input{
	font-weight:bold;
	color:black;
}

body{
	font-family:serif !important;
}
a{
	color:blue !important;
	/*text-decoration:underline !important;*/
}
#map{
	height:500px;
	width:1700px;
}

.navbar-header {
    min-width: 0px !important;
}

table td{
	padding:3px 3px !important;
}


.orderMoneyFieldLab{
	font-weight:bold;
	font-size:25px;
}
.orderMoneyField{
	font-weight:bold;
	height:50px;
	font-size:25px;
}
.btnMoneyField{
	height:50px;
}
.glyphMoneyField{
	font-size:25px;
}

.moneyEditable{
	background:yellow;
}

/*
#OrderDialog\:unload_price\:label{
	font-weight:bold;
	font-size:20px;
}
#OrderDialog\:unload_price{
	height:35px;
	font-size:20px;
}
#OrderDialog\:destination_price\:label{
	font-weight:bold;
	font-size:20px;
}
#OrderDialog\:destination_price{
	height:35px;
	font-size:20px;
}
*/
.dif_speed{
	background-color:#ff5656;
}

.normal_speed{
	background-color:#42f4bc;
}

.selected_time{
	border:2px solid black;
}

#OrderMakeList\:mat_totals_grid\:cont{
	margin-bottom:15px;	
}
#OrderMakeList\:veh_schedule_grid\:cont{
	margin-bottom:15px;	
}
#OrderMakeList\:features_grid\:cont{
	margin-bottom:15px;	
}
#OrderMakeList\:stat_grid\:cont{
	margin-bottom:15px;	
}
#OrderMakeList\:veh_total{
	margin-bottom:15px;	
}
#OrderMakeForLabList\:veh_schedule_grid\:cont{
	margin-bottom:15px;	
}

.order-l-grid{
	margin-bottom:15px;	
}

.order_make_grid{
	margin-bottom:15px;
}

.order_make_grid tr{
	cursor:pointer;
}

/* .order_make_grid  */
tr.order_closed{
	background-color:#00FF7F !important;
}
tr.order_not_started{
	background-color:#FFCC99 !important;
}
tr.order_started{
	background-color:#FFFFDD !important;
}
tr.order_no_ship_for_long{
	background-color:#CCCCFF !important;
}
tr.order_current_row{
	border:3px solid black !important;
}

.veh_schedule_grid tr.vh_late{
	background-color:#FF9999;
}
.veh_schedule_grid tr.vh_late_at_dest{
	background-color:#FFD0BA;
}
.veh_schedule_grid tr.veh_assigned{
	background-color:#CCFF99;
}
.veh_schedule_grid tr.veh_shift{
	background-color:#D5C7FF;
}
.veh_schedule_grid tr.veh_shift_added{
	background-color:#D5C7FF;
}
.veh_schedule_grid tr.veh_out_from_shift{
	background-color:#CEB9D6;
}
.veh_schedule_grid td.no_tracker{
	color:#0087ff;
	font-weight:bold;
	font-size:150%;
}
.veh_schedule_grid td.tracker_no_data{
	color:red;
	font-weight:bold;
	font-size:150%;
}


tr.veh_free{
	background-color:#00FF7F;
}
tr.veh_late{
	background-color:#FF9999;
}
tr.veh_late_at_dest{
	background-color:#FFD0BA;
}
tr.veh_assigned{
	background-color:#CCFF99;
}
tr.veh_shift{
	background-color:#D5C7FF;
}
tr.veh_shift_added{
	background-color:#D5C7FF;
}
tr.veh_out_from_shift{
	background-color:#CEB9D6;
}
tr.veh_out{
	background-color:#CEB9D6;
}
veh_no_tracker_data{
	color: red;
	font-weight:bolder;
	font-size:120%;
}
tr.veh_no_tracker{
	color: blue;
	font-weight:bolder;
	font-size:120%;
}

tr.veh_in_make_list{
	cursor:pointer;
}
#VehicleScheduleReport_Model td.on_shift{
	background-color:#CDFFD7;
}
#get_schedule_report_all td.on_shift{
	background-color:#CDFFD7;
}
tr.shipped{
	background-color:#CDFFD7;
}

table.table-make_order th{
	font-weight:bold;
	text-align:center;
	background-color:#d3d3d3;
	padding:5px 5px;
}
table.table-make_order td{
	white-space:nowrap;
	padding:1px 1px;
}
.emptyRow{
	background-color:#FFFFED;
	cursor:pointer;
	line-height: 14px;
	font-size:smaller;
}
.just_assigned{
	background-color:#CCFF99 !important;
}
#CallForm_dial{
	width:1200px;
}

td.day_off{
	background-color:#FFCC99;
}

td.operatorNotShipped{
	background-color:#FFCC99;
	font-size:bigger;
	font-weight:bolder;
}

.orderLastModif{
	font-size:80%;
}
.orderCreate{
	font-size:80%;
}

td.cost_edit{
	background-color:yellow !important;
}

#AssignedVehicleList-grid{
	font-size:250%;
}
#AssignedVehicleList-grid2{
	position:relative;
	top:300px;
	font-size:150%;
}

.mat_even{
	background-color:#ffffe6;
}
td.quant_consump_editable{
	background-color:#ffff00;
	cursor:pointer;
}
td.quant_consump_editted{
	background-color:#ffcc00;
	cursor:pointer;
}

#mat_inplace_edit{
	width:80px;
}

a.tel_in_list{
	display:block;
}

.production_upload_no_match{
	background-color:#ffcccc !important;
	border:3px solid black !important;
}

.LabEntry30Days_grid tr{
	cursor:pointer;	
}
.LabEntry30Days_grid tr.need{
	background-color:#FFCC99;
}
.LabEntry30Days_grid td.prev_p{
	background-color:#CEB9D6;
}

.quant_consump_editable:hover{
	border:3px solid black;	
	background-color:#ffcccc !important;
}

.cementSiloPic{
	width:200px;
	cursor:pointer;	
}

.productionSiteGroup{
	display:inline;
}
.siloContainer{
	display:inline;
	clear:right;
}
.siloName{
	font-size:70%;	
}
.storeName{
	font-size:70%;	
}

.silo_cont{
	position:relative;
	font-size:70%;	
}

.store_cont{
	position:relative;
	font-size:70%;	
}

td.elkonDifConcreteType{
	border:3px solid black;	
	background-color:#ffcccc !important;	
}
td.factQuantCorrected{
	font-weight:bolder !important;	
	border:3px solid black !important;
	background-color:#ffcccc !important;	
}
td.factQuantCorrectedElkon{
	font-weight:bolder !important;	
	border:3px solid black !important;	
	background-color:#ffcccc !important;	
}
td.factQuantViolation{
	font-weight:bolder !important;	
	border:3px solid black !important;	
	background-color:#ffcccc !important;	
}

td.negativeNumber{
	background-color:red !important;	
	color: white !important;	
}

#OrderMakeList\:mat_totals_grid td.quant_editable{
	cursor:pointer;
	background-color:#fcffaa !important;
}
#OrderMakeList\:mat_totals_grid td.quant_editable:hover{
	background-color:yellow !important;
	cursor:pointer;
}

.productionMaterialList td.quant_editable:hover{
	background-color:yellow !important;
	cursor:pointer;
}

.operatorProdDetail{
	margin:10px 10px;
}

@media screen and (max-width: 765px) {
	.smallWidthCardFormat > table,	
	.smallWidthCardFormat > tbody > tr > td,
	.smallWidthCardFormat > tbody > tr > th,
	.smallWidthCardFormat > tfoot > tr > td,
	.smallWidthCardFormat > tfoot > tr > th,
	.smallWidthCardFormat > thead > tr > td,
	.smallWidthCardFormat > thead > tr > th {
	    border: none;  !important;
	}	
	.smallWidthCardFormat tr{
		margin-bottom: 20px;  !important;
		display: block;  !important;
		box-shadow: 2px 2px 1px #dadada;  !important;
	}
	.smallWidthCardFormat td{
		display: block;  !important;
		font-size: 13px; !important;
		text-align:left;
	}
	
	.smallWidthCardFormat tbody td::before{
		content: attr(data-label) ": ";
		font-weight: bold;
	}
	
}

#OrderMakeList\:order_make_grid th, td {
	border: solid #000;
	border-width: 1px 1px;
	line-height:1em;
	margin: 0;
	padding:0.2em;
	border-spacing: 0;
}

a[client_dest="true"].autoComplete{
	background-color:yellow !important;
	background-image: url('https://i.imgur.com/MJekAr4.gif');
}

